body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 0 0;
    min-height: 100vh;
}

nav {
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background: #fff;
}

section {
    padding: 0 10px 10px;
}

strong {
    display: block;
}

a {
    word-break: break-all;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    background: #ccc;
    font-weight: 700;
}

@media screen and (max-width: 575px) {
    body {
        margin-top: 120px;
    }

    nav {
        padding: 10px 3px;
    }

    nav button {
        margin-bottom: 5px;
        font-size: 12px !important;
    }

    nav strong {
        display: block;
    }
}

